.action {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-gray-0));
}

.action:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-gray-0));
}